$bg-color: #eeeeee;
$primary-color: #3971c1;
$watchlist_story_bgColor: #f7f7f7;
$btn-border-color: #e0e0e0;
$white-clr: #fff;
$black-clr: #000;
$header-border-color: #ddd;
$card-bg-color: #e7e7e7;
$footer-items-color: #292929;
$laptop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 425px;
